<section class="intro">
   
      <div class="big-container intro__bg">
         <div class="container intro__container">
            <div class="intro__wrapper">
               <div class="intro__content">
                  <div class="intro__upline upline">{{ .Params.intro.upline }}</div>
                  <h1 class="intro__title">{{ .Params.intro.title }}</h1>
                  <div class="intro__btn btn btn--violet btn--220 "><a href="{{ .Params.intro.btn_url }}">{{ .Params.intro.btn_text }}</a> </div>
               </div>
               <div class="intro__img">
                  <img src="{{ .Params.intro.image }}" alt="intro">
               </div>
               <button class="btn btn--hole btn--height">Submit</button>
            </div>
         </div>
      </div>
   
</section>

